{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<div>
    <h1>Articles</h1>

    {% for article in articles %}
        <article>
            <h2>{{ article.title }}</h2>
            <aside>Published on {{ article.publishedAt | format_datetime('full', locale: 'fr') }} by {{ article.user.email }}</aside>

            <p>
                {{ article.content | show_excerpt }} ...
            </p>
        </article>

        <a href="{{ path('app_article_show', {slug: article.slug}) }}">Read more</a>

        <hr>
    {%  endfor %}
</div>
{% endblock %}
