{% extends 'admin/base-admin.html.twig' %}

{% block title %}
    {% if isCreateForm %}
        Create a new article
    {% else %}
        Edit an article
    {% endif %}
{% endblock %}

{% block steelsheets %}
<style>

</style>
{% endblock %}

{% block body %}

<div>
    <h1>
        {% if isCreateForm %}
            Create a new article
        {% else %}
            Edit an article
        {% endif %}
    </h1>

    {% if not isCreateForm %}
        <ul>
            <li>Direct link to the article: <a href="{{ path('app_article_show', {'slug': article.slug}) }}">{{ article.title }}</a></li>
            <li>Created at: {{ article.createdAt | format_datetime('short', locale: 'fr') }} by {{  article.user.email }}</li>
            <li>Last updated at: {{ article.updatedAt | format_datetime('short', locale: 'fr') }}</li>
        </ul>
    {% endif %}

    {{ form(form) }}

</div>
{% endblock %}
